@inherits LayoutComponentBase

<style>
    .subtitle {
        font-size: 1.0rem;
        color: whitesmoke;
        margin-left: 5px; /* Ajusta el valor según el espacio deseado */
    }
</style>

<style>
    .navbar-custom {
        background-image: linear-gradient(to right, #A1C4FD, #93A5CF);
    }
</style>

<PageTitle>Web Lib</PageTitle>

<div class="page mb-3">
    <div class="navbar-fixed-top">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom navbar-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Web Lib <span class="subtitle">Por que a todos nos encantan los libros ¿no?</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/" match>
                                <span class="oi oi-home oi-lg" aria-hidden="true"></span> Libros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/acerca">
                                <span class="oi oi-signal oi-lg" aria-hidden="true"></span> Acerca
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <main class="mt-5 mb-3">
        

        <article class="content px-15">
            @Body
        </article>
    </main>
</div>
