@*@page "/image-compressor"

<h3>Image Compressor</h3>

<input type="file" @onchange="HandleFileInput" accept="image/*" />
<br />
<button @onclick="CompressImage">Compress Image</button>

@if (compressedImage != null)
{
    <p>Compressed Image:</p>
    <img src="@compressedImage" alt="Compressed Image" />
}

@code {
    private IFileListEntry selectedFile;
    private string compressedImage;

    private async Task HandleFileInput(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }

    private async Task CompressImage()
    {
        if (selectedFile != null)
        {
            using (var stream = selectedFile.OpenReadStream())
            {
                using (var image = SixLabors.ImageSharp.Image.Load(stream))
                {
                    image.Mutate(x => x.Resize(new ResizeOptions { Size = new Size(800, 600), Mode = ResizeMode.Max }));

                    using (var outputStream = new MemoryStream())
                    {
                        image.Save(outputStream, new JpegEncoder { Quality = 80 });

                        outputStream.Position = 0;
                        var base64String = Convert.ToBase64String(outputStream.ToArray());
                        compressedImage = $"data:image/jpeg;base64,{base64String}";
                    }
                }
            }
        }
    }
}

*@